<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <%- include("loggedInHeader") %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/styles.css" type="text/css">
  <link rel="icon" href="/images/favicon.ico" type="image/favicon.ico">
  <title>Add New Resume</title>
</head>

<body>

  <div class="addNewAchievementsBackground ">
    <div class="achievementResumeButtons">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-info" onclick="location.href ='/myAchievements'">My Achievements</button>
        <button type="button" class="btn btn-outline-info active" onclick="location.href ='/myResumes'">My Resumes</button>
      </div>
    </div>

    <div class="achievementTitleButton">
      <div class="personalProjectTitle">
        <h1 class="display-6">Generate a New Resume</h1>
        <hr width="100%">
      </div>
    </div>

    <div class="addNewResumeBox">
      <div class="addNewResumeBoxTitle">
        <h3 class="display-6">New Resume</h3>
      </div>

      <div class="achievementListAndResumeDetails">
        <div class="horizontalForm">
          <form class="row g-3" action="" method="post">
            <div class="container">

              <label for="resumeName" class="form-label">Resume Name</label>
              <input type="text" class="form-control" name="resumeName" id="resumeName" placeholder="Overachiever's Resume" required>

              <span class="input-group-text">Resume Description (Optional)</span>
              <textarea class="form-control" aria-label="With textarea" name="resumeDescription"></textarea>

              <nav>
                <p><em>My Achievements</em></p>
                <% for (let achievement of achievements) { %>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="selectedIds" value="<%=achievement._id%>" id="<%=achievement._id%>">
                  <label class="form-check-label" for="<%=achievement._id%>"><%=achievement.name%></label>
                </div>
                <% } %>
              </nav>

              <button type="submit" class="btn btn-outline-info">Generate Resume</button>

            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="filler">

  </div>

  </div>

</body>
<%- include("footer") %>

</html>
