<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <%- include("loggedInHeader") %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/styles.css" type="text/css">
  <link rel="icon" href="/images/favicon.ico" type="image/favicon.ico">
  <title>Achievements</title>
</head>

<body>
  <div class="myAchievementsBackground">
    <div class="achievementResumeButtons">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-info active" onclick="location.href ='/myAchievements'">My Achievements</button>
        <button type="button" class="btn btn-outline-info" onclick="location.href ='/myResumes'">My Resumes</button>
      </div>
    </div>

    <div class="achievementTitleButton">
      <div class="achievementTitle">
        <h1 class="display-6">My Achievements</h1>
      </div>
      <div class="addNewAchievement">
        <button type="button" class="btn btn-outline-info" onclick="location.href ='/addNewAchievement'">Add New Achievement</button>
      </div>
    </div>

    <div class="achievementTableAccessButtons">

      <div class="achievementTable">
        <!-- Scrollable table template -->
        <table class="fixed_header">
          <thead>
            <tr>
              <th>S/N</th>
              <th>Name</th>
              <th class="achievementDescription">Description</th>
              <th>Year</th>
              <th>Category</th>
              <th class="achievementOptions">Options</th>
            </tr>
          </thead>
          <tbody>
          <% let i = 0; %>
          <% for (let achievement of achievements) { %>
            <% i += 1; %>
            <tr>
              <td><%= i %></td>
              <td><%= achievement.name %></td>
              <td class="achievementDescription"><%= achievement.description %></td>
              <td><%= achievement.year %></td>
              <td><%= achievement.category %></td>
              <td class="achievementOptions">
                <div class="dropdown">
                  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    ...
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/editAchievement/<%=achievement._id%>">Edit</a></li>
                    <li><a class="dropdown-item" href="#">Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="filler">
    </div>
  </div>
</body>
<%- include("footer") %>

</html>
